<template>
  <div>
    <div class="toolBar">
      <span class="demonstration">Выберите дом</span>
      <el-cascader
        :options="options"
        v-model="selecteContruction"
        placeholder="Дом"
        class="select-tool"
        @change="changeBuilding"
      ></el-cascader>
    </div>
    <el-pagination
      class="f-pagination"
      background
      layout="prev, pager, next"
      @current-change="changePage"
      :page-count="pages.length"
    ></el-pagination>
    <div class="flats-explorer" :class="isOpen ? 'open' : ''">
      <div class="left-panel">
        <el-row v-loading="loading" type="flex" justify="center" :gutter="20">
          <el-col v-for="(section, s) in pages[page].sections" :key="s" :span="24/sectionOnPage">
            <div class="section">
              <el-row>
                <el-row class="lvl" :gutter="20" :span="24" v-for="(lvl, l) in section" :key="l">
                  <div
                    @click="selectFlat(flat,$event)"
                    class="grid-content flat-mini"
                    :class="getFlatClass(flat)"
                    v-for="flat in lvl"
                    :key="flat.number"
                  >{{flat.number}}</div>
                </el-row>
              </el-row>
            </div>
          </el-col>
        </el-row>
      </div>
      <div class="right-panel">
        <flat-panel
          :selectFlats="activeFlats"
          :templates="templates"
          :construction="construction.construction"
          @update="changeBuilding(false)"
          @updateTemplates="updateTemplates"
        ></flat-panel>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import flatPanel from "./FlatPanel";
export default {
  mounted() {
    axios
      .post("/manager/construction/search?withBuildings=true")
      .then(response => {
        this.constructions = response.data;
        this.createMenu();
      });
  },
  data() {
    return {
      items: ["Foo", "Bar", "Fizz", "Buzz"],
      flats: [],
      strucuture: null,
      sectionOnPage: 4,
      page: 0,
      pages: [{ sections: [] }],
      sectionWidth: 0,
      isOpen: false,
      activeFlat: null,
      activeFlats: [],
      constructions: null,
      construction: { construction: null },
      templates: [],
      options: [],
      selecteContruction: [],
      loading: false
    };
  },
  methods: {
    createMenu() {
      this.options = [];
      var saveSelect = null;
      if (localStorage.getItem("selectBuilding")) {
        try {
          saveSelect = JSON.parse(localStorage.getItem("selectBuilding"));
        } catch (e) {
          localStorage.removeItem("selectBuilding");
        }
      }
      this.constructions.forEach(constr => {
        var o_constr = this.options.find(el => el.value === constr.building_id);
        if (!o_constr) {
          o_constr = {
            label: constr.building_name,
            value: constr.building_id,
            children: []
          };
          this.options.push(o_constr);
        }
        o_constr.children.push({
          label: constr.name,
          value: constr.construction
        });
      });
      if (saveSelect) {
        const build = this.options.find(el => el.value === saveSelect[0]);
        if (build && build.children) {
          const constr = build.children.find(el => el.value === saveSelect[1]);
          this.selecteContruction = saveSelect;
          this.changeBuilding();
        }
      }
    },
    changePage(page) {
      this.activeFlats = [];
      this.page = page - 1;
    },
    loadPage() {
      this.loading = true;
      this.isOpen = false;
      this.activeFlat = null;
      this.activeFlats = [];
      this.pages = [{ sections: [] }];
      this.loadStructure();
    },
    loadStructure() {
      var id = this.selecteContruction[1];
      axios
        .post("/manager/construction/search", {
          id: id
        })
        .then(response => {
          this.construction = response.data;
          this.strucuture = JSON.parse(response.data.count_flats);
          if (this.strucuture) this.loadFlats();
        });
    },
    loadFlats() {
      var id = this.selecteContruction[1];
      axios
        .post("/manager/flat/search", {
          construction: id,
          page: this.page
        })
        .then(response => {
          this.flats = response.data;
          this.updateFlats();
          setTimeout(() => {
            this.loading = false;
          }, 1000);
        });
    },
    updateFlats() {
      var number = 1;
      var page = 0;
      this.pages[page] = { sections: [] };
      for (
        var section = 0;
        section < this.construction.count_porch;
        section++
      ) {
        if (this.pages[page].sections.length >= this.sectionOnPage) {
          page++;
          this.pages[page] = { sections: [] };
        }
        var pageSection = section - page * this.sectionOnPage;
        this.pages[page].sections[pageSection] = [];
        var sections = this.strucuture.filter(
          el => parseInt(el.porch) == section + 1
        );
        sections.sort((a, b) =>
          a.lvlb === b.lvlb ? 0 : a.lvlb > b.lvle ? 1 : -1
        );
        sections.forEach(sec => {
          sec.count = parseInt(sec.count);
          sec.lvlb = parseInt(sec.lvlb);
          sec.lvle = parseInt(sec.lvle);
          for (var lvl = sec.lvlb; lvl <= sec.lvle; lvl++) {
            this.pages[page].sections[pageSection][lvl - 1] = Array.from(
              { length: sec.count },
              (v, k, arr) => {
                var flat_ = this.flats.data.find(el => el.number == number);
                if (flat_) {
                  number++;
                  flat_.exist = true;
                  return flat_;
                }
                flat_ = {
                  number: number++,
                  exist: false,
                  level: lvl,
                  porch: sec.porch
                };
                this.flats.data.push(flat_);
                return flat_;
              }
            );
          }
        });
        //this.pages[page].sections[pageSection] = this.pages[page].sections[pageSection].reverse();
      }
    },
    getFlatClass(flat) {
      var classes = "";

      if (this.activeFlats.find(el => el.number === flat.number)) {
        classes += "flat-select ";
      } else if (flat.exist) {
        if (!flat.status) {
          classes += "flat-available ";
        } else {
          if (flat.status.id === 1) {
            classes += "flat-available ";
          }
          if (flat.status.id === 2) {
            classes += "flat-avans ";
          }
          if (flat.status.id === 3) {
            classes += "flat-sales ";
          }
        }
      } else {
        classes += "flat-noexist ";
      }
      if (this.templates.find(el => el.number === flat.number)) {
        classes += "flat-template";
      }
      return classes;
    },
    changeBuilding(clearTemplates = true) {
      this.loading = true;
      this.isOpen = false;
      this.activeFlat = null;
      this.page = 0;
      if (clearTemplates) {
        this.templates = [];
      }
      console.log("loading flats...");
      const saveBulding = JSON.stringify(this.selecteContruction);
      localStorage.setItem("selectBuilding", saveBulding);
      this.loadPage();
      setTimeout(() => {
        this.loading = false;
      }, 1000);
    },
    scroll(data) {
      if (data.top) {
        var top = this.$refs.topScroll;
        var bot = this.$refs.contentScroll;
        bot.scrollLeft = top.scrollLeft;
      } else {
        var top = this.$refs.topScroll;
        var bot = this.$refs.contentScroll;
        top.scrollLeft = bot.scrollLeft;
      }
    },
    updateTemplates() {
      if (this.activeFlats.length > 0) {
        this.templates = this.activeFlats;
        this.activeFlats = [this.activeFlats[0]];
      }
    },
    selectFlat(flat, event) {
      if (
        this.activeFlats.length === 1 &&
        flat.number === this.activeFlats[0].number
      ) {
        this.isOpen = false;
        this.activeFlat = null;
        this.activeFlats = [];
      } else {
        if (event.ctrlKey) {
          if (this.activeFlats.find(el => el.number === flat.number)) {
            this.activeFlats = this.activeFlats.filter(
              el => el.number != flat.number
            );
          } else {
            this.activeFlats.push(flat);
          }
          return;
        }
        this.activeFlat = flat;
        if (event.shiftKey && this.activeFlats.length) {
          this.multipleSelectFlat(flat, event);
          return;
        }
        this.activeFlats = [flat];
        this.isOpen = true;
      }
    },
    multipleSelectFlat(flat, event) {
      if (flat.number < this.activeFlats[0].number) {
        this.activeFlats = [flat];
      } else {
        this.activeFlats = this.flats.data.filter(
          el =>
            (el.number - this.activeFlats[0].number) *
              (el.number - flat.number) <=
            0
        );
      }
    }
  },
  components: {
    flatPanel
  }
};
</script>
<style>
.toolBar {
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.select-tool {
  margin-left: 10px;
}
.f-pagination {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  margin-left: 0px;
}
.flats-explorer {
  display: flex;
  align-items: flex-start;
  height: 80vh;
}
.left-panel {
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
}
.right-panel {
  width: 0%;
  opacity: 0;
  height: auto;
  padding-left: 0px;
  transition-duration: 0.5s;
}

.open > .left-panel {
  width: 80%;
  transition-duration: 0.5s;
}
.open > .right-panel {
  width: 20%;
  opacity: 1;
  padding-left: 10px;
  transition-duration: 0.5s;
}
.section {
  background: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.lvl {
  display: flex;
  justify-content: space-around;
}
.flat-mini {
  height: 3.5rem;
  width: 3.5rem;
  font-weight: 400;
  font-size: 1.7;
  user-select: none;
  cursor: pointer;
}
.flat-available {
  background-color: #429062;
}
.flat-avans {
  background-color: #ffc232;
}
.flat-sales {
  background-color: #f03b35;
}
.flat-select {
  background-color: #3c8dbc !important;
}
.flat-noexist {
  background-color: #757575 !important;
  opacity: 0.3;
}
.flat-template {
  border: 2px solid #353535;
}
.el-row {
  margin-bottom: 20px;
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
</style>
