<template>
  <el-row type="flex" v-loading="loading" class="panel">
    <div v-if="flat && selectFlats && selectFlats.length === 1">
      <el-image class="plan-img" :src="flat ? flat.layout.photo : src">
        <div slot="placeholder" class="image-slot">
          Loading
          <span class="dot">...</span>
        </div>
      </el-image>
      <div class="flat-description">
        <span class="d-name">Номер</span>
        <span class="d-value">{{flat.number}}</span>
      </div>
      <div class="flat-description">
        <span class="d-name">Подъезд</span>
        <span class="d-value">{{flat.porch}}</span>
      </div>
      <div class="flat-description">
        <span class="d-name">Этаж</span>
        <span class="d-value">{{flat.level}}</span>
      </div>
      <div class="flat-description">
        <span class="d-name">Комнат</span>
        <span class="d-value">{{flat.layout.count_rooms}}</span>
      </div>
      <div class="flat-description">
        <span class="d-name">Площадь</span>
        <span class="d-value">{{flat.layout.square}} м²</span>
      </div>
      <div class="flat-description">
        <span class="d-name">Статус</span>
        <span class="d-value">{{flat.status.status_name}}</span>
      </div>
      <div class="flat-description">
        <span class="d-name">Цена</span>
        <span class="d-value">{{flat.price/1000000}} млн.руб.</span>
      </div>
      <el-button-group class="m-button-group">
        <el-button @click type="primary" icon="el-icon-edit">Редактировать</el-button>
        <el-button type="primary" icon="el-icon-share"></el-button>
        <el-button type="primary" icon="el-icon-delete"></el-button>
      </el-button-group>
    </div>
    <div v-else>
      <el-button-group class="m-button-group">
        <div class="m-button-group" v-if="exist">
          <el-button
            @click="$emit('updateTemplates');"
            type="primary"
            icon="el-icon-copy-document"
          >Задать как шаблон</el-button>
        </div>
        <div class="m-button-group" v-else>
          <el-button @click="create" type="primary" icon="el-icon-plus">Создать</el-button>
          <el-button @click="create-fromTemplate" type="primary" icon="el-icon-plus">По шаблону</el-button>
        </div>
        {{test}}
      </el-button-group>
    </div>
  </el-row>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      input: "",
      test: "",
      src: "http://южанка-тверь.рф/img/flats/flat_17/plan.png",
      loading: true,
      exist: false,
      flat: null,
      params: [
        {
          name: "Номер",
          value: 0
        },
        {
          name: "Комнат",
          value: 2
        },
        {
          name: "Площадь",
          value: "65 м."
        },
        {
          name: "Этаж",
          value: 4
        },
        {
          name: "Цена",
          value: "2.3 млн.р."
        }
      ]
    };
  },
  methods: {
    create() {
      if (this.selectFlats[0] && this.construction)
        window.open(
          "http://agent.manager.ru/manager/flat/create?" +
            "construction=" +
            this.construction +
            "&number=" +
            this.selectFlats[0].number +
            "&lvl=" +
            this.selectFlats[0].level +
            "&porch=" +
            this.selectFlats[0].porch
        );
    },
    createFromTemplate() {
      var data = {
        templates: this.templates,
        flats: this.selectFlats
      };
      if (!data.templates.length) {
        this.$notify.error({
          title: "Ошибка",
          message: "Создайте первый этаж вручную.",
          duration: 3000
        });
        return;
      }
      axios
        .post("http://agent.manager.ru/manager/flat", {
          ...data,
          save_action: "save_and_back"
        })
        .then(response => {
          const message =
            data.flats.length < 2 ? "Квартира создана" : "Квартиры созданы.";
          this.$notify({
            title: "Успешно",
            message: message,
            type: "success"
          });
          this.$emit("update");
        })
        .catch(error => {
          this.$notify.error({
            title: "Ошибка",
            message: "Не удалось создать квартиру по шаблону.",
            duration: 3000
          });
          console.log(error);
        });
    },
    edit() {
      window.open(
        "http://agent.manager.ru/manager/flat/" +
          this.flat.id +
          "/edit?" +
          "construction=" +
          this.construction +
          "&number=" +
          this.selectFlats[0].number
      );
    }
  },
  watch: {
    selectFlats(val, oldVal) {
      if (!val || !val.length) {
        this.flat = null;
        return;
      }
      if (val.length > 1) {
        val.forEach(el => {
          if (!el.exist) {
            this.exist = false;
          }
        });
        this.loading = false;
        return;
      } else {
        if (!val[0].exist) {
          this.flat = null;
          this.exist = false;
          this.loading = false;
          return;
        }
      }
      this.loading = true;
      this.params.find(el => el.name === "Номер").value = val[0].number;
      axios
        .post("http://agent.manager.ru/manager/flat/search", {
          number: val[0].number,
          construction: this.construction
        })
        .then(response => {
          this.exist = response.data.data.length != 0;
          if (this.exist) this.flat = response.data.data[0];
          this.loading = false;
        });
    }
  },
  props: ["selectFlats", "construction", "templates"]
};
</script>
<style>
.flat-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #dcdfe6;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  padding: 10px;
  flex-flow: nowrap;
  white-space: nowrap;
}
.m-button-group {
  display: flex;
  justify-content: center;
}
.d-name {
  font-weight: bold;
  color: #303133;
}
.d-value {
}
.plan-img {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dcdfe6;
  user-select: none;
}
.plan-img > img {
  height: 300px;
  width: auto;
  pointer-events: none;
}
.panel {
  background-color: white;

  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  overflow: hidden;
}
</style>
